@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.topbarWrapper {
    height: 90px;
    width: 100%;
    align-items: center;
    background: #000000;
    color: #FFF;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.topbarLogo {
    padding: 40px;
    font-size: 100%;
}

.topbarUserLoggedIn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 20px;
}

.signInBtn,
.signOutBtn {
    color: white;
    cursor: pointer;
    background-color: black;
    border: 2px solid white;
    border-radius: 16px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 60%;
    margin: 4px 2px;
    outline: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}
  
.signInBtn:hover, 
.signOutBtn:hover {
    border: 2px solid red;
}

.signInBtn:active,
.signOutBtn:active {
background-color: #000000;
transform: translateY(4px);
}

.signedIn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.username {
    padding: 15px 20px;
}



@media only screen and (max-width: 918px) {
    .topbarMessage {
        display: none;
    }
}

@media only screen and (max-width: 505px) {
    .signInBtn,
    .signOutBtn {
        font-size: 50%;
    }
}

@media only screen and (max-width: 475px) {
    .signInBtn,
    .signOutBtn {
        font-size: 30%;
    }
}