@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.energyBarWrapper {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

.lowEnergy,
.highEnergy {
    background-color: black;
    border-radius: 100px;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
}

.slider {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 815px) {
    .lowEnergy,
    .highEnergy {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .lowEnergy,
    .highEnergy {
        font-size: 12px;
    }
}