@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.energyAndBtnWrapper {
    width: 100%;
    font-family: 'Berkshire Swash', cursive;
    padding-top: 100px;
}
.energyBarWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px; 
}

.slider {
    width: 55%;
}

.lowEnergy,
.highEnergy {
    font-size: 25px;
    color: white;
    padding: 0px 25px
}

@media only screen and (max-width: 815px) {
    .lowEnergy,
    .highEnergy {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .lowEnergy,
    .highEnergy {
        font-size: 12px;
    }
}