@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.topbarWrapper {
    height: 55px;
    width: 100%;
    align-items: center;
    background: #003366;
    color: white;
    font-size: 100%;
    font-family: 'Berkshire Swash', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbarLogo {
    padding: 20px;
    font-size: 110%;
}

.topbarMessage {

}

.topbarUserLog {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}