.moodAndEnergyWrapper {
  height: 100%;
  width: 100%;
  margin-top: 250px;
}

.selectorWrapper {
  height: 100%;
  width: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.emoji {
  height: 220px;
  width: 220px;
}

.emoji:hover {
  box-shadow: 0px 25px 30px rgb(255, 255, 255);
  border-radius: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

